.social {
  display: flex;
  align-items: center;
  padding: 0;
  flex-wrap: wrap;

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    background: $clear-color;
    padding: 20px;
    transition: $transition;
    justify-content: center;

    .icon {
      font-size: 25px;
      transition: $transition;
    }

    &:hover {

      &.youtube .icon {
        color: $color-you-tube;
      }

      &.instagram .icon {
        color: $color-instagram;
      }

      &.tw {
        color: $color-tw;
      }

      &.fb .icon {
        color: $color-fb;
      }

      &.vk .icon {
        color: $color-vk;
      }
    }

  }
}



