.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 150px;


  @include media-breakpoint-down(sm) {
    text-align: center;
    grid-template-columns: repeat(1, 2fr);
    grid-row-gap: 10px;
  }

  .h2  {
    margin: 20px 0;
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .social {
    margin-top: 20px;

    @include media-breakpoint-down(sm) {
      justify-content: center;
    }
  }

}




