.contact-section {
  position: relative;
  background: {
    image: url("../../images/backgrounds/contact-section.jpg");
    position: center center;
    size: cover;
    attachment: fixed;
  } ;

  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  .container {
    position: relative;
    z-index: 3;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-before-dark;
    background-image: url("../images/pattern.png");
  }

  .h2 {
    color: $white;
    margin-bottom: 30px;
  }

  .input {
    margin-bottom: 20px;
  }

  .btn-action {
    margin-top: 40px;

    &:hover {
      color: $color-site;
    }
  }
}

.contact-title {
  color: $white;
  font-size: 22px;
  margin-bottom: 35px;
}

.contact-sub-title {
  font-size: 20px;
  color: $color-site;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 600;
}

.contact {

  &__list {
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      justify-content: center;
    }

    &:before {
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      background: $color-site;
      border-radius: 50%;
      margin-right: 10px;
    }
  }

  &__link {
    color: $white;
    font-size: 18px;
  }
}