.text-block {
  position: absolute;
  top: 50%;
  left: 0;
  margin: auto;
  width: 100%;
  transform: translateY(-50%);
}

.video-box {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  video {
    width: 100%;
    min-height: 100vh;
  }

}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width:  100%;
  height: 100%;
  background-color: rgba(12,21,28,0.8);
  background-image: url("../images/pattern.png");
}