html,
body {
  font-family: $text-font;
  font-size: 16px;
  text-align: left;
  color: $text;
  -webkit-font-smoothing: antialiased;
}

body {
  padding-top: 99px;

  @include media-breakpoint-down(sm) {
    padding-top: 0;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: $transition;
  color: $text;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

p {
  word-wrap: break-word;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
  min-height: 160px;
  padding: 20px 20px 20px 15px;

  @include mobile {
    min-height: 120px;
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;

  @media screen and (max-width: 1200px){
    max-width: 100%;
  }
}

.h2 {
  font-size: 45px;
  text-transform: uppercase;
  color: $text;
  margin-bottom: 50px;

  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
    text-align: center;
  }
}

.section {
  padding: 100px 0;

  @include media-breakpoint-down(md) {
    padding: 70px 0;
  }
}

.bg-light {
  background: $bg-light;
}

.text-site {
  color: $color-site;
}
