.header-content {
  position: fixed;
  top: 0;
  left: 0;
  width:  100%;
  z-index: 100;
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 16px 50px;
  align-items: center;
  background: $header-bg;

  @include media-breakpoint-down(sm) {
    padding: 15px;
  }
}

.logo-brand {
  img {
    min-width: 180px;
    width: 180px;

    @include media-breakpoint-down(sm) {
      min-width: 100px;
      width: 100px;
    }
  }
}

.header-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}