$icomoon-font-family: "zp-floorball" !default;
$icomoon-font-path: "../fonts/" !default;

$icon-city: "\e900";
$icon-earth-globe-with-continents-maps: "\e901";
$icon-logo-black: "\e902";
$icon-map-marker: "\e903";
$icon-ukraine: "\e904";
$icon-back: "\e905";
$icon-diagram: "\e906";
$icon-medal: "\e907";
$icon-next: "\e908";
$icon-objective: "\e909";
$icon-statistics: "\e90a";

@font-face {
  font-family: $icomoon-font-family;
  src:  url('#{$icomoon-font-path}icon-zp-floorball/zp-floorball-1.0.eot');
  src:  url('#{$icomoon-font-path}icon-zp-floorball/zp-floorball-1.0.eot') format('embedded-opentype'),
  url('#{$icomoon-font-path}icon-zp-floorball/zp-floorball-1.0.ttf') format('truetype'),
  url('#{$icomoon-font-path}icon-zp-floorball/zp-floorball-1.0.woff') format('woff'),
  url('#{$icomoon-font-path}icon-zp-floorball/zp-floorball-1.0.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
